@import "./pages/pages";
@import "./components/components";
@import "variables";

body{
    color: black;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

BrowserRouter{
    position: relative;
}

Navigation{
    position: sticky;
    bottom: 0;
}