@import "./pages/pages";
@import "./components/components";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

BrowserRouter{
    position: relative;
}

Navigation{
    position: sticky;
    bottom: 0;
}

div.mapboxgl-control-container{
    display: none;
}

ul{
    padding-inline-start: 0;

}

// font-size: 1rem;
// display: flex;
// align-items: start;


// button{
//     font-size: .8rem;
//     background-color: white;
//     border-radius: .3rem;
//     padding: .4rem;
// }

// .help-icon{
//     width: 1.3rem;
//     height: 1.3rem;
// }

// .sub-nav{
//     padding: .5rem;
//     margin: 0;
//     width: 8rem;
//     background-color: white;
//     border: solid .1rem;
//     border-radius: .3rem;

//     li, a{
//         list-style-type: none;
//         color: black;
//         // text-align: center;
//     }
    
//     .sub-nav-menu{
//         text-decoration: none;

//     }
// }