.help-body {
    font-size: 1rem;
    margin: 1rem 1rem 6rem 1rem;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;

    .help-center {
        background-color: #D0E3FF;
        padding: 1rem;
        border-radius: 1.5rem;
        margin-bottom: 1rem;
        box-shadow: 3px 3px 3px #7b8fae;
    }
    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
}