.help-body {
    font-size: 0.65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    background-color:#faece6;
    margin-bottom: 1rem;
    font-family: "Nunito", sans-serif;

    


    .help-center {
        width: 20rem;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: rgb(0, 0, 0);
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
        margin:25px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(3.1px);
        border: 1px solid rgba(255, 255, 255, 0.3);

    }

    h1 {
        color: rgb(170, 77, 0);
        text-align: center;
        font-size: 2rem;
        text-decoration: 2px solid;
     }

     h2 {
       
        max-width: 80%;
        color: black;
     }
    
      h3 {

        max-width: 80%;
        color: black;
        margin-top:50px;
        margin-left: 30px;
        margin-top: 1.5rem;
      }
      
      p {
    
        max-width: 80%;
        color: black;
        margin-left: 30px;
        margin-top:10px;
        margin-bottom: 1rem;
      }

      a {
    
        max-width: 80%;
        color: rgb(255, 255, 255);
        margin-left: 10px;
        display: inline-flex; /* Aligns the icon and text horizontally */
        align-items: center; /* Centers the icon and text vertically */
        background-color: #e47a08; /* Bootstrap primary button color */
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;

      }
      
      p {
        inset: auto auto 80px 30px;
        color: black;
        font-family: "Nunito", sans-serif;
      }
      
      a {
        inset: auto auto 40px 30px;
        color: inherit;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: "Nunito", sans-serif;
      }

}
    .material-symbols-outlined {
      vertical-align: middle;
    }