.women-safety-card {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sections {
    margin-top: 20px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    
  }
  
  h2 {
    font-size: 27px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 15px;
  }
  
  .card {
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    background: rgba(161, 62, 62, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 150px;
    padding:20px;
  }

  
  .card-content {
    flex: 1;
    z-index: 0;
    /* Add padding or margin as needed */
  }
  
  .card-image img {
    width: 100px; /* Adjust based on your preference */
    height: auto;
    border-radius: 8px; /* Optional: for rounded corners */
  }

  
  
  .card h3 {
    font-size: 18px;
    font-family:Inter;
    padding:0;
    width: 200px;
    margin-top:15px;
    margin-bottom:10px;
  }
  

  .card p {
    font-size: 13px;
    font-family:Inter;
    margin-bottom:0;
    padding: 0;
    margin-left:0;
    margin-right:0;
    margin-top: 10px;
    padding:0;

  }

  .card h5 {
    font-size: 13px;
    font-family:Inter;
    margin:0;
    font-weight: 400;
  }
  
  .filters {
    margin-left: 20px;
    margin-top: 15px;
    font-family:Inter;
  }


  .filters button {
    background-color:#fff;
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 9px 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family:Inter;
    font-weight:500;
  }
  
  .filters button:hover {
    background-color: #feb078;
    color: white;
  }
  
  textarea {
    width: 90%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ffffff00;
    border-color: #ffffff00;
  }


  .sections .search {
    width: 83%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(63, 59, 59, 0);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  