.women-safety-card {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sections {
    margin-top: 20px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    
  }
  
  h2 {
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 25px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .card h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .card p {
    font-size: 16px;
  }
  
  .filters {
    margin-top: 20px;
  }
  
  .filters button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filters button:hover {
    background-color: #0056b3;
  }
  
  textarea {
    width: 90%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  .sections .search {
    width: 90%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(63, 59, 59, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  