@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.help-body {
  font-size: 1rem;
  margin: 1rem 1rem 6rem 1rem;
  border-radius: 2rem;
  padding: 1rem;
}
.help-body .help-center {
  background-color: #D0E3FF;
  padding: 1rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 3px #7b8fae;
}
.help-body h1 {
  text-align: center;
}
.help-body h3 {
  text-align: center;
}

.landing h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}
.landing p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}
.landing .landing-btn {
  padding: 10px 50px;
  position: fixed;
  bottom: 15%;
  right: 50%;
  transform: translateX(50%);
  background: linear-gradient(to right top, #e01363, #ed374f, #f2553c, #f17228, #eb8d12);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.landing .welcome {
  position: fixed;
  font-size: 2em;
  top: 50%;
  margin-top: 25px;
  margin-bottom: 10px;
}
.landing .welcome p {
  margin: 0;
}
.landing .landing-select {
  width: 100%;
  padding: 1px 10px;
  font-size: 0.75em;
  border-radius: 5px;
  cursor: pointer;
}
.landing .language {
  width: 60%;
  position: fixed;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .language p {
  font-size: 0.75em;
  margin: 0;
  text-align: center;
}

.search-input {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 10;
  width: 130px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.camp-select {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
  width: 135px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 75%;
  margin: 0.9rem 0 0 0;
}

.camp-select {
  width: 79%;
  margin: 0.3rem 0;
  border: solid 0.12rem;
}

.search-input,
.camp-select {
  position: relative;
  z-index: 10;
  padding: 10px;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.search-input {
  left: 0;
}

.camp-select {
  right: 0;
}

.women-safety {
  font-size: 1rem;
  margin: 1rem 1rem 6rem 1rem;
}
.women-safety h1 {
  text-align: center;
}

.earth {
  width: 100%;
  height: 600px;
  position: fixed;
  top: -200px;
  z-index: -10;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 0.85rem;
  align-items: center;
  padding: 0.6rem 0;
  margin: 0;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.nav-menu .map-icon {
  height: 1.3rem;
  width: 1.3rem;
  margin-bottom: 0.3rem;
}
.nav-menu .help-center-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.nav-menu .safety-icon {
  height: 1.7rem;
  width: 1.7rem;
}
.nav-menu li,
.nav-menu a {
  color: #f1330d;
  text-decoration: none;
  text-align: center;
}
.nav-menu .map-li {
  margin: 0 1.3rem;
}
.nav-menu .nav-menu li:active,
.nav-menu .nav-menu li:focus,
.nav-menu .nav-menu li:hover {
  background-color: white;
  color: white;
}

.side-navigation {
  font-size: 0.9rem;
  display: flex;
  align-items: start;
  position: absolute;
  right: 0;
  top: 8rem;
}
.side-navigation p.greeting {
  margin: 0.7rem 0 0 0;
}
.side-navigation button {
  font-size: 0.8rem;
  color: #fff;
  border: none;
  background: linear-gradient(to right top, #e01363, #ed374f, #f2553c, #f17228, #eb8d12);
  border-radius: 0.3rem;
  padding: 0.4rem;
}
.side-navigation .help-icon {
  width: 1.3rem;
  height: 1.3rem;
}
.side-navigation .sub-nav {
  padding: 0.5rem;
  margin: 0;
  width: 8rem;
  background-color: white;
  border: solid 0.1rem;
  border-radius: 0.3rem;
}
.side-navigation .sub-nav li,
.side-navigation .sub-nav a {
  list-style-type: none;
  color: black;
}
.side-navigation .sub-nav .sub-nav-menu {
  text-decoration: none;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-navigation .sub-nav .sub-nav-menu li {
  margin: 0.6rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-navigation .sub-nav .sub-nav-menu svg {
  margin-bottom: 0.3rem;
}
.side-navigation .sub-nav .sub-nav-menu .close-button svg {
  margin: 0;
}
.side-navigation .sub-nav .sub-nav-menu .language-icon {
  width: 1.6rem;
  height: 1.6rem;
}
.side-navigation .sub-nav .sub-nav-menu .instruction-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.side-navigation .sub-nav .sub-nav-menu .hospital-toggle {
  margin: 0;
  font-size: 0.8rem;
}
.side-navigation .sub-nav .sub-nav-menu ul {
  padding-left: 0;
  padding-right: 1rem;
  padding-inline-start: 0;
}
.side-navigation .open {
  display: block;
}
.side-navigation .hidden {
  display: none;
}

.help-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 55vh;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 0.5rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.languages-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 30vh;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 0.5rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0;
}
.modal-content h2 {
  margin-top: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.language-change {
  width: 45%;
  border: solid 0.09rem;
  padding: 0.5rem 0.6rem;
  border-radius: 0.3rem;
}
.language-change option {
  padding: 5rem 0;
}

body {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

BrowserRouter {
  position: relative;
}

Navigation {
  position: sticky;
  bottom: 0;
}

div.mapboxgl-control-container {
  display: none;
}

ul {
  padding-inline-start: 0;
}

/*# sourceMappingURL=style.css.map */
