@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.help {
  font-size: 1rem;
  margin: 1rem 1rem 2rem 1rem;
}
.help h1 {
  text-align: center;
}
.help h3 {
  text-align: center;
}

.landing-btn {
  padding: 10px 50px;
  position: fixed;
  bottom: 20%;
  right: 50%;
  transform: translateX(50%);
  background: linear-gradient(to bottom, #fce0d7, #d9668d);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.women-safety {
  font-size: 1rem;
  margin: 1rem 1rem 3rem 1rem;
}
.women-safety h1 {
  text-align: center;
}

.earth {
  width: 100%;
  height: 600px;
  position: fixed;
  top: -50px;
  z-index: -10;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 0.85rem;
  align-items: center;
  padding: 0.6rem 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F2A2B1;
}
.nav-menu .map-icon {
  height: 1.3rem;
  width: 1.3rem;
  margin-bottom: 0.3rem;
}
.nav-menu .help-center-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.nav-menu .safety-icon {
  height: 1.7rem;
  width: 1.7rem;
}
.nav-menu li, .nav-menu a {
  color: black;
  text-decoration: none;
  text-align: center;
}
.nav-menu .map-li {
  margin: 0 1.3rem;
}

.side-navigation {
  font-size: 0.9rem;
  display: flex;
  align-items: start;
}
.side-navigation p.greeting {
  margin: 0.7rem 0 0 0;
}
.side-navigation button {
  font-size: 0.8rem;
  background: linear-gradient(to bottom, #fce0d7, #d9668d);
  border-radius: 0.3rem;
  padding: 0.4rem;
}
.side-navigation .help-icon {
  width: 1.3rem;
  height: 1.3rem;
}
.side-navigation .sub-nav {
  padding: 0.5rem;
  margin: 0;
  width: 8rem;
  background-color: white;
  border: solid 0.1rem;
  border-radius: 0.3rem;
}
.side-navigation .sub-nav li, .side-navigation .sub-nav a {
  list-style-type: none;
  color: black;
}
.side-navigation .sub-nav .sub-nav-menu {
  text-decoration: none;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-navigation .sub-nav .sub-nav-menu li {
  margin: 0.6rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-navigation .sub-nav .sub-nav-menu svg {
  margin-bottom: 0.3rem;
}
.side-navigation .sub-nav .sub-nav-menu .language-icon {
  width: 1.6rem;
  height: 1.6rem;
}
.side-navigation .sub-nav .sub-nav-menu .instruction-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.side-navigation .sub-nav .sub-nav-menu .hospital-toggle {
  margin: 0;
  font-size: 0.8rem;
}
.side-navigation .sub-nav .sub-nav-menu ul {
  padding-left: 0;
  padding-right: 1rem;
  padding-inline-start: 0;
}
.side-navigation .open {
  display: block;
}
.side-navigation .hidden {
  display: none;
}

body {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

BrowserRouter {
  position: relative;
}

Navigation {
  position: sticky;
  bottom: 0;
}

div.mapboxgl-control-container {
  display: none;
}

ul {
  padding-inline-start: 0;
}

/*# sourceMappingURL=style.css.map */
