// @use "../variables" as *;

.nav-menu{
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: 0.85rem;
        align-items: center;
        padding: 0.6rem 0;
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-top: 7px; 
        border-top-left-radius: 40px; 
        border-top-right-radius: 40px; 
        border-left-width: 40px;
        border-right-width: 40px;
        overflow: hidden; 
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 2px 4px 1px rgba(89, 87, 87, 0.2);
    }
    
    .help-center-icon{
        height: 1.5rem;
        width: 1.5rem;
    }

    .safety-icon{
        height: 1.7rem;
        width: 1.7rem;
    }

    li, a{
        color:#f1330d;
        text-decoration: none;
        text-align: center;
    }

    .map-li{
        margin: 0 1.3rem;
    }
    
    .nav-menu li:active,
    .nav-menu li:focus,
    .nav-menu li:hover {
        background-color: white;
        color: white;
    }
