
.side-navigation{

    font-size: 1rem;
    display: flex;
    align-items: start;

    button{
        font-size: .8rem;
        background-color: white;
        border-radius: .3rem;
        padding: .4rem;
    }

    .help-icon{
        width: 1.3rem;
        height: 1.3rem;
    }

    .sub-nav{
        padding: .5rem;
        margin: 0;
        width: 8rem;
        background-color: white;
        border: solid .1rem;
        border-radius: .3rem;

        li, a{
            list-style-type: none;
            color: black;
            // text-align: center;
        }
        
        .sub-nav-menu{
            text-decoration: none;
            font-size: .7rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            li{
                margin: .6rem 0;
            }

            li.pop-up{
                align-items: center;
                text-align: center;
            }

            .language-icon{
                width: 1.6rem;
                height: 1.6rem;
            }

            .instruction-icon{
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    .open{
        display: block;
    }

    .hidden{
        display: none;
    }
}